# Full text classification project

Sample project for classifying movie reviews as positive or negative

In [4]:
! ls ../UPDATED_NLP_COURSE/TextFiles

amazonreviews.tsv  huckfinn.txt       owlcreek.txt     reuters.csv
elon_tweets2.txt   moviereviews2.tsv  peterrabbit.txt  sms_readme.txt
elon_tweets.txt    moviereviews.tsv   reaganomics.txt  smsspamcollection.tsv

In [29]:
import numpy as np
import pandas as pd

df = pd.read_csv('../UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [30]:
df.shape

(2000, 2)

In [7]:
print(df['review'][0])

how do films like mouse hunt get into theatres ?
isn't there a law or something ?
this diabolical load of claptrap from steven speilberg's dreamworks studio is hollywood family fare at its deadly worst .
mouse hunt takes the bare threads of a plot and tries to prop it up with overacting and flat-out stupid slapstick that makes comedies like jingle all the way look decent by comparison .
writer adam rifkin and director gore verbinski are the names chiefly responsible for this swill .
the plot , for what its worth , concerns two brothers ( nathan lane and an appalling lee evens ) who inherit a poorly run string factory and a seemingly worthless house from their eccentric father .
deciding to check out the long-abandoned house , they soon learn that it's worth a fortune and set about selling it in auction to the highest bidder .
but battling them at every turn is a very smart mouse , happy with his run-down little abode and wanting it to stay that way .
the story alternates between unfunny scenes of the brothers bickering over what to do with their inheritance and endless action sequences as the two take on their increasingly determined furry foe .
whatever promise the film starts with soon deteriorates into boring dialogue , terrible overacting , and increasingly uninspired slapstick that becomes all sound and fury , signifying nothing .
the script becomes so unspeakably bad that the best line poor lee evens can utter after another run in with the rodent is : " i hate that mouse " .
oh cringe !
this is home alone all over again , and ten times worse .
one touching scene early on is worth mentioning .
we follow the mouse through a maze of walls and pipes until he arrives at his makeshift abode somewhere in a wall .
he jumps into a tiny bed , pulls up a makeshift sheet and snuggles up to sleep , seemingly happy and just wanting to be left alone .
it's a magical little moment in an otherwise soulless film .
a message to speilberg : if you want dreamworks to be associated with some kind of artistic credibility , then either give all concerned in mouse hunt a swift kick up the arse or hire yourself some decent writers and directors .
this kind of rubbish will just not do at all .

Check if there is some missing data

In [31]:
df.isnull().sum()

label      0
review    35
dtype: int64

It seems we are missing some reviews, let's get rid of them since they are not much of use.

In [32]:
df.dropna(inplace=True)
df.isnull().sum()

label     0
review    0
dtype: int64

In [33]:
df.shape

(1965, 2)

However, we might have reviews which are just blanks, these aren't very useful neither, so let's get rid of them.

In [34]:
df = df[df.review.apply(lambda t: not t.isspace())]
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [35]:
df.shape

(1938, 2)

Now let's train-test split

In [36]:
from sklearn.model_selection import train_test_split

X = df.review
y = df.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [37]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

clf_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', LinearSVC())
])

clf_pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [40]:
from sklearn.metrics import confusion_matrix, classification_report

predictions = clf_pipeline.predict(X_test)
print("Confusion Matrix: \n")
print(confusion_matrix(y_test, predictions), "\n")
print("Classification Report: \n")
print(classification_report(y_test, predictions))

Confusion Matrix:

[[245  53]
 [ 28 256]]

Classification Report:

              precision    recall  f1-score   support

         neg       0.90      0.82      0.86       298
         pos       0.83      0.90      0.86       284

   micro avg       0.86      0.86      0.86       582
   macro avg       0.86      0.86      0.86       582
weighted avg       0.86      0.86      0.86       582